---
import SwiperGallery from './SwiperGallery';
---


<section class="about">
    <h2>Ιωάννης Γκούθας</h2>
    <h3>(Ιδιοκτήτης Λογιστηρίου)</h3>
    <p>
        Ο Ιωάννης Γκούθας είναι λογιστής – φοροτεχνικός με πάνω από 12 χρόνια επαγγελματικής εμπειρίας στον χώρο της λογιστικής και της φοροτεχνικής συμβουλευτικής. Από την ηλικία των 28 ετών έχει αφιερωθεί στην υποστήριξη ιδιωτών και επιχειρήσεων με συνέπεια, επαγγελματισμό και σαφή στρατηγική προσέγγιση.
    </p>
    <p>
        Διαθέτει προπτυχιακό τίτλο σπουδών από την Πάντειο Πανεπιστήμιο και μεταπτυχιακό δίπλωμα από το Οικονομικό Πανεπιστήμιο Αθηνών (ΑΣΟΕΕ) στο πεδίο της Στατιστικής. Ο συνδυασμός θεωρητικής κατάρτισης και πρακτικής εμπειρίας αποτελεί τη βάση για την αποτελεσματική παροχή των υπηρεσιών του.
    </p>
    <p>
        Για τον κ.Γκούθα, η λογιστική δεν είναι απλώς αριθμοί αλλά εργαλείο στρατηγικής υποστήριξης. Κάθε υπόθεση αντιμετωπίζεται με υπευθυνότητα, ακρίβεια και προσήλωση στη λεπτομέρεια, προκειμένου να καλυφθούν πλήρως οι ανάγκες κάθε πελάτη.
    </p>

</section>

<style>
    .about {
        display: flex;
        flex-wrap: wrap;
        //background: linear-gradient(to bottom, #000000, #1a1a1a);
        color: #fff;
        padding: 4rem 20%;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }

    .about h2 {
        font-size: 2.2rem;
    }

    .about h3 {
        font-size: 1.2rem;
        font-weight: 400;
        color: #ccc;
    }

    .about p {
        font-size: 1rem;
        text-align: justify;
    }


    @media (max-width: 768px) {
        .about {
            flex-direction: column;
            text-align: center;
        }

        .about {
            flex: 1 1 100%;
        }

        .about {
            text-align: left;
        }
    }
</style>
