<section class="office">
    <div class="container">
        <h1>Το Γραφείο μας</h1>
        <p>
            Το λογιστικό γραφείο Ιωάννη Γκούθα ιδρύθηκε το 2017, με στόχο την παροχή ολοκληρωμένων λογιστικών και φοροτεχνικών υπηρεσιών. Από μια μικρή ομάδα δύο ατόμων, εξελίχθηκε σε μια πλήρως στελεχωμένη δομή με διακριτούς ρόλους και αρμοδιότητες, με αυξανόμενο αριθμό συνεργατών.
        </p>

        <p>
            Η εσωτερική οργάνωση του γραφείου είναι βασισμένη στην αποδοτικότητα και την ταχύτητα. Με ιδιόκτητο server και σύγχρονη τεχνική υποδομή, εξασφαλίζεται η δυνατότητα απομακρυσμένης εργασίας για όλους τους υπαλλήλους και συνεργάτες. Η συνεργασία με εξωτερικούς developers συμβάλλει στη συνεχή αναβάθμιση των υπηρεσιών.
        </p>
        <p>
            Η εύρυθμη λειτουργία της επιχείρησης βασίζεται στην οργανωτική της δομή, η οποία χωρίζεται σε πέντε εξειδικευμένα τμήματα, εξασφαλίζοντας ταχύτητα, συνέπεια και αποτελεσματικότητα στην παροχή υπηρεσιών.
        </p>

        <div class="departments">
            <div class="department">
                <img src="/icons/wallet.svg" alt="Μισθοδοσία" />
                <div>
                    <h4>Τμήμα</h4>
                    <h4>Μισθοδοσίας</h4>
                </div>
            </div>
            <div class="department">
                <img src="/icons/building-office.svg" alt="Εταιρειών" />
                <div>
                    <h4>Τμήμα</h4>
                    <h4>Εταιρειών</h4>
                </div>
            </div>
            <div class="department">
                <img src="/icons/file-text.svg" alt="Φορολογίας" />
                <div>
                    <h4>Τμήμα</h4>
                    <h4>Φορολογίας</h4>
                </div>
            </div>
            <div class="department">
                <img src="/icons/code.svg" alt="IT" />
                <div>
                    <h4>Τμήμα</h4>
                    <h4>IT</h4>
                </div>
            </div>
            <div class="department">
                <img src="/icons/person-simple-walk.svg" alt="Εξωτερικών Εργασιών" />
                <div>
                    <h4>Τμήμα</h4>
                    <h4>Εξωτερικών Εργασιών</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .office {
        background: linear-gradient(to bottom, #000000, #121212);
    }

    h1 {
        margin-bottom: 0;
    }

    p {
        text-align: left;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }

    .departments {
        display: grid;
        gap: 2rem;
        margin: 0 auto;
    }

    .department {
        border: 1px solid #515151;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        padding:  .75rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .department img {
        width: 48px;
        height: 48px;
        filter: brightness(0) invert(1); /* Makes any dark SVG look white */
    }

    @media (max-width: 600px) {
        h2,
        .subtitle {
            text-align: center;
        }
    }
</style>
